@{
    ViewBag.Title = "Trang chủ";
}

<link href="~/Content/home.css" rel="stylesheet" />

<div class="row">
    <a href="/Materials">
        <div class="col-4">
            <div class="img-hover-zoom img-hover-zoom--blur">
                <img class="d-flex img-vbpq" src="~/Image/slide1.png" alt="Quản lý vật tư" width="100%">
                <div class="vbpq">
                    <h3 class="text-center">
                        <a class="a-vbpq text-white" href="/Materials" title="Quản lý vật tư">Vật tư</a>
                    </h3>
                </div>
            </div>
        </div>
    </a>
    <a href="/Categories">
        <div class="col-4">
            <div class="img-hover-zoom img-hover-zoom--blur">
                <img class="d-flex img-vbpq" src="~/Image/slide2.png" alt="Quản lý danh mục cha" width="100%">
                <div class="vbpq">
                    <h3 class="text-center">
                        <a class="a-vbpq text-white" href="/Categories" title="Quản lý danh mục cha">Danh mục cha</a>
                    </h3>
                </div>
            </div>
        </div>
    </a>
    <a href="/SubCategories">
        <div class="col-4">
            <div class="img-hover-zoom img-hover-zoom--blur">
                <img class="d-flex img-vbpq" src="~/Image/slide3.png" alt="Quản lý danh mục con" width="100%">
                <div class="vbpq">
                    <h3 class="text-center">
                        <a class="a-vbpq text-white" href="" title="Quản lý danh mục con">Danh mục con</a>
                    </h3>
                </div>
            </div>
        </div>
    </a>
</div>

